@import "../../../../../base-styles.scss";
.post {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  border: 1px solid $borderColor;
  background-color: $backgroundColor;
  margin-left: 10%;
  margin-right: 10%;

  .headWrapper {
    margin: 20pt 0pt 20pt 0pt;
    align-content: center;
    width: 100%;
    &__user {
      align-content: right;
    }
    &__caption {
      padding: 16px 16px;
      align-content: left;
    }
  }

  .imageWrapper {
    align-content: center;
    &__image {
      width: 50%;
    }
  }

  .contentWrapper {
    align-content: left;
    padding: 10px 5px 10px 5px;
    width: 100%;
  }

  .controlsWrapper {
    align-content: center;
    width: 50%;
    font-size: 20px;

    .post__heart--liked {
      color: purple;
    }

    .post__heart--none {
      color: darkolivegreen;
    }
  }
}
