@import "../../../../base-styles.scss";
.addForm {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  &__addButton {
    border-radius: 1px;
    padding: 2em;
  }
  &__messageField {
    border-radius: 1px;
    padding: 2em;
  }
  &__picURLField {
    border-radius: 1px;
    padding: 2em;
  }
}
