@import "../../../base-styles.scss";
.head {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-bottom: 20pt;
  margin-bottom: 20pt;
  border-bottom: 1px solid $borderColor;
  background-color: $backgroudColor;
  &__header-logo {
    width: 20%;
  }
  &__logo {
    width: 60px;
  }
  &__header-title {
    text-align: center;
    font-size: 3em;
    height: 50px;
    width: 50%;
  }
  &__header-controls {
    text-align: right;
    flex-wrap: nowrap;
    justify-content: space-between;
    display: flex;
    height: 50px;
    width: 30%;
  }
}
