.header-logo {
  display: block;
  float: left;
  height: 50px;
  width: 20%;
}
.logo {
  display: block;
  height: 50px;
  width: 50px;
}
.header-title {
  text-align: left;
  display: block;
  float: left;
  height: 50px;
  width: 50%;
}

.header-user {
  display: block;
  float: right;
  height: 50px;
  width: 30%;
}
