.Insta-logo {
  display: block;
  background-position: -176px 0px;
  background-image: url(logo.png);
  background-size: 405px 379px;
  background-repeat: no-repeat;
  height: 35px;
  width: 176px;
  text-indent: -1000%;
}
