@import url("https://fonts.googleapis.com/css?family=Play&display=swap");

$backgroundColor: white;
$borderColor: rgb(82, 60, 53);
$borderColorAlert: red;
$backgroundColorAlert: rgba(247, 187, 187, 0.856);

body {
  font-family: "Play";
}
